name: Mise à jour Rapport Jira

on:
  schedule:
    - cron: '0 * * * *' # Se lance toutes les heures (à la minute 00)
  workflow_dispatch:      # Permet de lancer manuellement avec un bouton

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

      - name: Installation de Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Installation des outils
        run: |
          npm install axios xlsx
          # On installe axios et xlsx manuellement pour être sûr à 100%

      - name: Lancement du Script Jira
        env:
          JIRA_EMAIL: ${{ secrets.JIRA_EMAIL }}
          JIRA_TOKEN: ${{ secrets.JIRA_TOKEN }}
          JIRA_DOMAIN: ${{ secrets.JIRA_DOMAIN }}
        run: node index.js

      - name: Préparation du site web
        run: |
          mkdir public
          # On renomme le fichier pour qu'il soit la page d'accueil (index.html)
          mv rapport_client.html public/index.html

      - name: Publication sur Internet (GitHub Pages)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
